html {
    font-family: Helvetica;
    display: inline-block;
    margin: 0px auto;
}

html, th, td{
    text-align: center;
    font-size:2vw;
    color: black;
}

td{
    vertical-align: center;
    padding: 10px;
    border: 1px solid black;
}

table{
    border-collapse: collapse;
    width: 20vw;
}

td:last-child {
    border :none;
}

.table tr.spacer > td {
    border: none;
    padding: 0
  }

tr.lastRow>td {
    color: #cecece;
    font-size: 2vw;
  }

.table-container{
    display: inline-block;
}

input[type=text] {
    text-align: center;
    justify-content: center;
    display: table-cell;
    width: 30vw;
    font-size: 4vw;
    border: solid #727272;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=text]:focus {
    border: solid #000000;
}

form>p {
    display: inline;
    text-align: center;
    justify-content: center;
}


label{
    width: 20vw;
    font-size: 4vw;
    display: table-cell;
    text-align: center;
    justify-content: center;
}

.button-container{
    display: inline-block;
}

.button {
    text-align: center;
    background-color: #4CAF50;
    width: 20vw;
    top: 120px;
    border: none; 
    border-radius: 50px;
    color: white;
    padding: 16px 10px;
    text-decoration: none;
    font-size: 4vw;
    margin: 8px;
    outline: none;
    cursor: pointer; 
}

.button:hover { background-color: #7cdf80;  }
.button:active {
    background-color: #7cdf80;
    transform: translateY(2px); }

.button2 {background-color: #555555;}
.button2:hover { background-color: #888888; }

.button3 {background-color: #eb4034;}
.button3:hover { background-color: #f7a099; }

.button4 { 
    width: 6vw;
    top: 20px;
    border-radius: 0px;
    color: white;
    padding: 3px;
    font-size: 2vw;
    margin: 0px;
    outline: none;
    cursor: pointer;
    background-color: #eb4034;
}
.button4:hover { background-color: #f7a099; }

.button5 {
    width: 6vw;
    top: 20px;
    border-radius: 0px;
    color: white;
    padding: 3px;
    font-size: 2vw;
    margin: 0px;
    outline: none;
    cursor: pointer;
    background-color: #4CAF50;
}

.button5:hover { background-color: #7cdf80; }

.buttonRfid {
    background-color: #32beff;
    width: 40vw;
    cursor: pointer; 
}

.buttonRfid:hover { background-color: #73cbf3; }