* {
    box-sizing: border-box;
}

html {
    text-align: center;
    font-family: Helvetica;
    display: block;
    color: black;
}

td{
    text-align: center;
    width: 20vw;
    height: 2em;
    color: black;
    vertical-align: center;
    padding: 0.75em;
    border: 1px solid black;
}

.table-container{
    display: block;
}

.table{
    border-collapse: collapse;
    margin: 0 auto;
}

.table td:last-child {
    border :none;
}

.table tr.spacer > td {
    border: none;
    padding: 0;
}

.table tr.lastRow > td {
    color: #cecece;
}

.table tr:last-child > td {
    border: none;
}

.table2 td:last-child {
    border :1px solid black;
}

label{
    display: table-cell;
}

input[type=text] {
    display: table-cell;
    border: solid #727272;
}   

input[type=text]:focus {
    border: solid #000000;
}  

form>p {
    display: inline;
    text-align: center;
    justify-content: center;
} 

.button {
    line-height: 0;
    text-align: center;
    border: none; 
    border-radius: 50px;
    color: white;
    background-color: #4CAF50;
    cursor: pointer; 
}   
.button:hover { background-color: #7cdf80;  }
.button:active { transform: translateY(2px); }    

.button2 {background-color: #555555;}
.button2:hover { background-color: #888888; }  

.button3 {background-color: #eb4034;}
.button3:hover { background-color: #f7a099; }  

.button4 { 
    border-radius: 0px;
    background-color: #eb4034;
}
.button4:hover { background-color: #f7a099; }  

.button5 {
    border-radius: 0px;
    background-color: #4CAF50;
}    
.button5:hover { background-color: #7cdf80; }    

.buttonRfid { background-color: #32beff; }
.buttonRfid:hover { background-color: #73cbf3; }

@media only screen and (max-width: 768px){
     /* For mobile: */
    h1{ font-size: 7.5vw; }
    h2{ font-size: 6.5vw; }
    h3{ font-size: 5.5vw; }

    td{ font-size: 3vw; }
    th{
        font-size:3vw;
        height: 2em;
    }

    .table{ width: 70vw; }
    .table td:last-child { max-width: 1em; }   
    .table2 td:last-child { min-width: 28vw; }

    input[type=text] {
        font-size: 4.5vw;
        width: 30vw;
        height: 1.5em;
    }

    label{
        font-size: 4.5vw;
        width: 30vw;
        height: 1.5em;
    } 

    .button-container{
        display: block;
        width: 100%;
        margin: 0 auto;
    }  

    .button {
        font-size: 4.5vw;
        width: 60vw;
        height: 2em;
    }

    .button-users {
        margin-right: 35px
    }

    .button4 { 
        font-size: 2vw;
        width: 1.5em;
        height: 1.5em;
        padding: 3px;
    }

    .button5 {
        font-size: 2vw;
        width: 1.5em;
        height: 1.5em;
        padding: 3px;
    }  

    .buttonRFID{ width: 60vw; }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
   
    h1{ font-size: 3vw; }
    h2{ font-size: 2vw; }
    h3{ font-size: 1.5vw; }

    th{
        font-size: 1.75vw;
        height: 2em;
    }

    .table{ width: 40vw; }
    .table tr{ height: 1em; }
    .table td{ font-size: 1.2vw;}
    .table td:last-child { max-width: 1em; }
    .table2 td:last-child { min-width: 15vw; }

    input[type=text] {
        font-size: 1.75vw;
        width: 13vw;
        height: 1.5em;
    }

    label{
        font-size: 1.75vw;
        width: 13vw;
        height: 1.5em;
    } 

    .button-container{
        display: block;
        width: 30vw;
        margin: 0 auto;
    }  

    .button {
        font-size: 1.5vw;
        width: 100%; 
        height: 2em;
    }

    .button4 { 
        font-size: 1.2vw;
        width: 1.2em;
        height: 1.2em;
        padding: 3px;
    }

    .button5 {
        font-size: 1.2vw;
        width: 1.2em;
        height: 1.2em;
        padding: 3px;
    }  

    .buttonRFID{ width: 30vw; }
}